/* .container {
    display: flex;
} */

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #efcfe3; 
}

.grid div {
    height: 20px;
    width: 20px;
    /* background-color: #dbbea1ff; */
}

.tetromino {
    background-color: #ffefda;
}